<%= image_tag @pin.image.url, width:"300", height:"300" %>

<p>
  <strong>Description:</strong>
  <%= @pin.description %>
</p>

<% if user_signed_in? %>
	<% if @pin.user == current_user %>
  		<%= link_to 'Edit', edit_pin_path(@pin) %> |
  		<%= link_to 'Back', pins_path %>
  	<% end %>
<% end %>