<div class="jumbotron">
	<h1>Alex's First Rails Project</h1>
	<% if user_signed_in? %> 
		#do something 
	<% else %> 
		<p>Click here to <%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary btn-lg" %><%= link_to "Sign In", new_user_session_path, class: "btn btn-primary btn-lg" %>. 
		</p>
		<p><div class="fb-like" data-href="https://http://www.alexniuniu.com/" data-layout="standard" data-action="like" data-show-faces="true" data-share="false"></div></p>
	<% end %>
</div>
